.products-page {
	background-color: whitesmoke;
	height: calc(100vh - 76px);
	overflow: hidden;
	@media(max-width: 920px) {
		height: 100%;
	}
	

	&__filter {
		background-color: white;
		height: calc(100vh - 76px);
		padding: 10px 0;
		@media(max-width: 768px) {
			display: none;
		}
	}

	&__list {
		width: 97.4%;
		height: 100vh;
		@media(max-width: 768px) {
			width: 90%;
			margin: 0 auto;
		}
		@media(max-width: 920px) {
			height: 100%;
		}
	}

	&__item {
		background-color: white;
		border-radius: 20px;
		text-align: center;
		padding: 33px 33px 46px;
		img {
			width: 75%;
		}
	}

	&__memory {
		display: flex;
		align-items: center;
		height: 28px;
		font-size: 14px;
		font-weight: 600;
		padding: 0 9px;
		margin-right: 4px;
		border: 1px solid #000;
		border-radius: 16px;
		letter-spacing: -0.7px;
		cursor: pointer;
		transition: all .3s;
		&.active{
			background-color: #6da7ef1f;
		}
	}

	&__color {
		background-color: #f0f0f1;
		width: 22px;
		height: 22px;
		border-radius: 12px;
		border: 1px solid rgba(0, 0, 0, .1);
		margin-right: 15px;
		cursor: pointer;
		transition: all 0.1s ease;
		&.small{
			width: 16px;
			height: 16px;
			border:none
		}
		&.active{
			border-color: black;
		}
	}

	&__phone {
		font-size: 26px;
		font-weight: 700;
		color: black;
		letter-spacing: -0.7px;
	}

	&__middle{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 45px;
	}

	&__price {
		font-size: 24px;
		font-weight: 560;
		letter-spacing: -0.7px;
	}
}