@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500&display=swap');

* {

  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

*,
*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 500;
  letter-spacing: 0.2px;

}


blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre,
fieldset,
ul,
ol,
menu,
form {
  margin: 0;
}

button,
fieldset,
iframe {
  border: 0;
}

fieldset,
ul,
ol,
button,
menu {
  padding: 0;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

a,
a:focus,
button,
button:focus {
  outline: none !important;
  text-decoration: none;
}

a,
button {
  user-select: none;
  transition: all .3s ease-in-out;
}

button {
  cursor: pointer;
  background: none;
  box-shadow: none;
  border: none;
}

img {
  max-width: 100%;
}

section {
  padding: 80px 0;
}

label {
  margin-bottom: 0;
}


.custom-container {
  position: relative;
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  z-index: 99;

  &.product {
    @media (max-width: 600px) {
      overflow: hidden;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.button {
  padding: 7px 26px;
  border-radius: 50px;
  border: 1px solid #2c499a;
  display: inline-block;
  color: white;
  background-color: #234ab9;
  letter-spacing: -0.7px;
  color: white;

  &:hover,
  &:focus {
    color: white;
    background-color: #183587;
  }

  &.small {
    font-size: 14px;
    font-weight: 500;
  }

  &.green {
    background-color: #7fca1c;
    border: 1px solid #85c72c;
    transition: all .3s;
    &:hover{
      background-color: #79bf1b;
    }
  }

  &.white {
    background-color: #f7f7f7;
    border: 1px solid #ece8e8;
    color: black;
  }
}

[data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  overflow: hidden;
  background: white;
  border-bottom: 1px solid #f3f3f3;
  padding: 6px;
}

.ant-collapse-icon-position-right>.ant-collapse-item>.ant-collapse-header {
  font-weight: 600;
  letter-spacing: -0.7px;
  font-size: 14px;
}

span.ant-radio+* {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1px;
}

.ant-collapse-icon-position-right>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow {
  right: 16px;
  left: auto;
  color: #3e3e3e;
  opacity: 0.8;
  font-size: 10px;
  top: 8px;
}

.ant-tooltip-inner {
  min-width: auto;
  min-height: auto;
  padding: 4px 9px;
  font-size: 12px;
  border-radius: 50px;
}

.spinner-border {
  border: 0.15em solid currentColor;
  border-right-color: transparent;
}

.image-gallery-icon {
  filter: none;
}

.image-gallery-right-nav .image-gallery-svg,
.image-gallery-left-nav .image-gallery-svg {
  height: 55px;
  width: 35px;
  color: #007bff
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: calc(100vh - 300px);
}

.image-gallery-thumbnail {
  display: inline-block;
  border: 1px solid transparent;
  transition: border .3s ease-out;
  width: 60px;
  padding: 6px;
  border-radius: 6px;
  margin-right: 15px;

  img {
    border-radius: 6px;
  }

  &.active,
  &:hover,
  &:focus {
    border: 1px solid #096dd9;
  }
}


.notification__item--success {
  background-color: #7fca1c !important;
  border-left: 8px solid #85c72c !important;
}

.notification__message {
  font-size: 14px !important;
  padding: 3px !important;
  font-weight: 600 !important;
  letter-spacing: -0.4px;
}

.basket-add-text {
  transform: none;
  opacity: 1;
  transition: all 0.6s .2s ease-in-out;
}

.basket-loading {
  transition: all 0.6s .3s ease-in-out;
  position: absolute;
  transform: translateY(60px);
  opacity: 0;
}

.basket-add-success {
  transition: all 0.6s .3s ease-in-out;
  position: absolute;
  transform: translateY(60px);
  opacity: 0;
}

.basket-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  font-weight: 600;
  text-align: center;
  padding: 12px 26px;
  transition: all 1s 0.6s ease-in-out;
  font-size: 15px;
  @media(max-width: 600px) {
    width: 190px;
    font-size: 10px;
    padding: 6px;
    font-weight: bold;
  }

  .spinner-border {
    width: 1.4rem;
    height: 1.4rem;
  }

  &.disable {
    pointer-events: none;

    .basket-loading {
      transform: none;
      opacity: 1;
    }

    .basket-add-text {
      transform: translateY(60px);
      opacity: 0;
    }
  }

  &.success {
    background-color: #55bf6d;
    border: 1px solid #4ea262;

    .basket-add-success {
      transform: none;
      opacity: 1;
    }

    .basket-loading {
      transform: translateY(60px);
      opacity: 0;
    }

  }
}

.ant-btn {
  border-radius: 50px;
  font-weight: 500;
}

.ant-modal-content {
  border-radius: 12px;
}

.ant-modal-confirm-body .ant-modal-confirm-title {
  color: #353535;

}

.ant-modal-confirm .ant-modal-confirm-btns {
  margin-top: 0px;
}

.hide-basket {
  .header-basket__item {
    display: none;
  }
}

.ant-btn-success {
  border: 1px solid #85c72c;
  color: #85c72c;
}

.ant-modal-confirm-content {
  margin-left: 0 !important;
}

.link {
  color: #007bff;
  cursor: pointer;
  border-bottom: 1px solid #007bff;
}

.anticon-check-circle {
  font-size: 22px;
  margin-right: 8px;
}

.no-product {
  border: 1px solid #ececec;
  padding: 40px;
  border-radius: 12px;

  img {
    width: 32px;
  }

  button {
    font-weight: 600;
    font-size: 16px;
  }
}