.header{
  height: 76px;
  border-bottom: 1px solid #ececec;
  &-basket{
    position: relative;
    height: 100%;
    width: 740px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
  
    
 
    &__item{
      display: flex;
      align-items: center;
      margin-right: 6.9%;
      img{
        width: 32px;
      }
      &:nth-child(2){
        &:hover{
          ~ .header-basket__products{
            pointer-events:all;
            opacity: 1;
          }
        }
      }
    }
    &__text{
      font-size: 16px;
      letter-spacing: -0.7px;
    }
    &__count{
      font-size: 13px;
      background-color: #e83869;
      width: 20px;
      height: 20px;
      border-radius: 50px;
      position: relative;
      right: 17px;
      top: -12px;
      color: white;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    &__products{
      position: absolute;
      z-index: 99;
      top: 73px;
      width: 300px;
      background-color: white;
      border: 1px solid #d6d9e0;
      margin-right: 8%;
      border-radius: 10px;
      padding: 7px 3px 12px;
      box-shadow: #0000001c 0px 20px 65px 2px;
      transition: all .3s;
      pointer-events: none;
      opacity: 0;
      img{
        max-width: 60px;
      }
      &-wrp{
        margin-bottom: 10px;
        border-bottom: 1px solid #f7f6f6;
        margin: 10px;
        padding:3px 0 12px;
      }
      &-name{
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.7px;
      }
      &-item{
        font-size: 11px;
        color: #6f6f6f;
      }
      &-price{
        font-size: 16px;
        font-weight: 600;
        color: #d83075;
        letter-spacing: -0.7px;
      }
      &:hover{
        pointer-events: all;
        opacity: 1;
      }
    }
  }
}